@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* basic */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;
}
html{
    font-size: 78.5%;
}
h1,h2,h3,h4,h5{
    font-family: "Urbanist", sans-serif ;
}
p,button{
    font-family: "Poppins", sans-serif;
}
a ,li{
    text-decoration: none;
    list-style: none;
    display: inline-block;}
p{
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
}    
  li:hover{
    background-color: rgba(0, 0, 0, 0.225);
  }
    

.container{
    max-width:1300px ;
    margin: auto;
    padding:1rem 2rem ;
}
.grid{
    display: grid;
}
.grid , .grid-col-two{
    grid-template-columns: repeat(2,1fr);
}
.grid-col-four{
    grid-template-columns: repeat(4,1fr);
} 
.grid-col-three{
    grid-template-columns:repeat(3,1fr) ;
}
/* basic */
/* reusable */

/* resusable */



/* Theme */
:root
{
    --btn-color:rgb(19, 178, 241);
}
/* theme */
 header{
    background-color: rgb(167, 233, 255);
 }
header .main-heading
{
    padding: 1rem;
  font-size:1.3rem ;
 
}

nav .container{
    /* margin-top:1rem ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    & ul{
        display: flex;
        align-items: center;
        padding:2rem ;
   
        & li{
            text-align: center;
            padding: 1.6rem;
            font-size: 1.3rem;
            font-weight: 600;
            &:nth-child(5){
        padding: 1rem;
         background-color: var(--btn-color);
                color: white;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
}
&:nth-child(6){
    padding: 1rem;
border: 1px solid var(--btn-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


        }
       
    }
 
}
.toggle-nav{
    display: none;
}
/* section-hero------------------------------------------------------start */
.section-hero .grid{

   align-items: center;
   gap: 2rem;
    /* & figure img{
        width:50rem;
        height: auto;

    } */
& .hero-btn
{
   background-color: var(--btn-color);
   color: white;
   padding: 0.6rem;
   border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -ms-border-radius:5px;
   -o-border-radius:5px;
}

    
}



.hero-section-footer {
    & .hero-section-footer-cont{
    text-align: center;
    margin-top:-1rem ;
   font-weight: bold}
   & .hero-sec-footer-img {
    & .grid{
        place-items: center;
    }

   & figure img{
    width:9rem;
}
  
    
   }
}
/* section hero========================================================end */
.section-research{
    & .resreach-heading h1{
        font-size:1.8rem;
        
    }
    & .sec-btn{
        padding: 1rem;
        background-color: var(--btn-color);
        color: aliceblue;
        border: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

   

      & .res-card
    {
      padding: 1rem;
        & .card-img{
            font-size: 3rem;

        }
        & .sec-res-btn{
            padding: 1rem;
            border: none;
            background-color: white;
            border: 2px solid lightblue;
            border-radius:5px ;
            -webkit-border-radius:5px ;
            -moz-border-radius:5px ;
            -ms-border-radius:5px ;
            -o-border-radius:5px ;}

    }

}
.section-research .grid{
    gap:5rem;
    padding:2.3rem;
    text-align: center;
}
/* section course======================================start */
.course :nth-of-type(even){
    /* background-color: antiquewhite; */
  & .course-image{
    order:1;
  }
  & .course-content{
    order: 2;
  }

}
.section-course{

    & .grid{
        display: grid;
     align-items: center;
        place-items: center;
        gap:2rem;
      
       
    }
}

/* section course=========================================end */

/* section Gallery==============================================start */
.section-gallery{

    & .sec-btn{
        padding: 1rem;
        background-color: var(--btn-color);
        color: aliceblue;
        border: none;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

& .grid{

    place-items: center;
}
 figure img{
    width:19rem ;
    aspect-ratio: 1;
 }
}


/* section Gallery====================================================end */

.section-design{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   text-align: center;
   height: 20rem;
   background-color:rgb(41, 48, 88);
   color: white;
   

}

/* footer start================================================================= */
footer {
    & .grid{
        place-items: center;
        align-items: center;
    }
    background-color:rgb(178, 178, 189);
  
    height: auto;
}


/* media queries========================================== */
@media (width<=1200px){
   
 
    html{
        font-size: 70%;
    }
    .section-hero 
 {

       
         & figure img{
           width: 100%;
             /* height: auto; */
     
         }
}
}
@media (width<=1000px)
{
    html{
        font-size: 70%;
    } 

    /* .section-hero 
    {
   
          
            & figure img{
                
               width: 80%;
                height: auto;
        
            }
   } */
}

@media (width<=767px)
{
    html{
        font-size: 68%;

    }
    .grid,.grid-col-two{
        grid-template-columns: repeat(1,1fr);
    }
    .grid-col-four{
        grid-template-columns: repeat(2,1fr);
    }
    .grid-col-four{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }


    .section-hero .grid
{

  place-items: center;
  gap:4rem;
            & figure{
                width: 100%;
             display: flex;
             align-items: center;
             justify-content: center;
               
               
        
            }
   }
  .course
  {

    & figure img{
        width: 60%;
    }
  } 


  
  .course :nth-of-type(even)
  {
    & .course-image{
        order:2;
      }
      & .course-content{
        order: 1;
      }
  }

  .section-research{
    & .res-card{
        padding:0.1rem ;
    }
  }


  /* .nav-items{
    display: none;
  } */
  .toggle-nav{
    display:block;
}
nav ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: aliceblue;
   left:-100%;
top:100%;
   padding-block: 1rem;
   width:40%;
}

.now{
    left:0;
} 



}



@media (width<=440){

.section-hero .grid
{

  place-items: center;
  gap:4rem;
            & figure{
                width: 100%;
            }
   }
  .course
  {

    & figure img{
        width: 60%;
    }
  } 

}



/* media queries==================================================== */